
Usage:

    {{#cyan}}parachute{{/cyan}} install [<options>]

Options:

    {{#yellow}}-h{{/yellow}}              - Display this help info
    {{#yellow}}-u, --update{{/yellow}}    - Update cached repos before installing

Description:

    Install assets specified in assets.json
