
Usage:

    {{#cyan}}parachute{{/cyan}} <command> [<options>]

Commands:

    install  Install assets specified in assets.json
    update   Updates assets specified in assets.json

Options:

    {{#yellow}}-h{{/yellow}}              - Display this help info
    {{#yellow}}-v, --version{{/yellow}}   - Display parachute version

